/**{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/

header .brand img{
	height: 60px;
	
	margin-top: 5px;

}

#CabeceraWeb{
	z-index: 999;
	position: fixed;
	background-color: #000;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	transition: 0.6s;
}

header .down{
	background: #1483D5;
	padding: 15px 80px;
}

header .brand{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

header .menu{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;



}

header .menu ul{
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 140px;

}

header .menu ul li{
	list-style: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	


}

header .menu a{
	color: #fff;
	font-weight: 700px;
	text-transform: uppercase;
	font-size: 10px;
	text-decoration: none;
	margin: 0 5px;
	border-radius: 50px;
	transition: 0.3s;
	transition-property: color, background;
}


header .menu a:hover{
	color: #fff;
	background: #095e83;
	width: 40px;
}

header .btn{
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: none;

}


@media (max-width: 991px){
	header, header.down{
		padding: 20px 40px;
	}

	header .btn{
		display: block;
	}

	header .menu{
		position: fixed;
		background: #1483D5;
		min-width: 33px;
		height: 100vh;
		top: 0;
		right: -100%;
		padding: 80px 50px;
		transition: 0.5s;
		transition-property: right;

	}

	header .menu ul{
		flex-direction: column;
	}

	header .menu.active{
		right: 0;
	}

	header .menu .close-btn{
		position: absolute;
		top: 0;
		left: 0;
		margin: 25px;
	}

	header .menu a{
		display: block;
		font-size: 20px;
		margin: 20px;
		padding: 0 15px;
	}
}


@media (max-width:600px){
	.section-main h1{
		font-size: 40px;
		line-height: 60px;
	}
}

body{
	margin-left: -10px;
	margin-right: -10px;
	overflow-x: hidden;
}


#cabeceraweb{
	/*background-color: #095e83;*/
	padding-left: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	font-size: 14px;
	margin-top: -10px;
}

#barra_navegacion{
	background-color: #eecdb1;
}

#barralateral{
	float: left;
	background-color: #095e83;
	height: 250px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-left: 100px;
	color: #ffffff;

}

#seccion{
	/*margin-left: 190px;*/
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

#foot{
	background-color: #59602c;
	clear: both;
	margin-top: 30px;
	padding-left: 20px;
}

/*li{
	background-color: #d32318;
	display: inline;
}*/

#FiguraColibri{
	padding-left: 50px;
	margin-top: -50px;
	background-color: #5a5018;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 0px;
	
}

#cajetinImagen{
	float: right;

	/*padding-top: -30px;*/
	padding-right: 240px;
	padding-bottom: 30px;
	font-size: 16px;
	color: #ffffff;


	
}

#VideoGBIF{
	/*float: right;*/
	padding-left: 380px;
	padding-bottom: 90px;
	
	
}

/*#GBIF{
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 360px;
	padding-right: 50px;
	background-color: #ee4a08;
	margin-left: -10px;
	margin-right: -10px;
	text-align: justify;
}*/

#TituloGBIF{
	padding-top: 40px;
	padding-left: 350px;
	padding-bottom: 30px;
}

#Idioma{
	float: right;
	padding-right: 20px;
	padding-top: 40px;
}

#veb{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: justify;
	background-color: #dededc;
	margin-left: -10px;
	margin-right: -10px;
	color: #7b7b78;
}

#ProyectoBirdCode{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	text-align: justify;
	background-color: #095e83;
	color: #ffffff;
	font-size: 20px;

}

#ImagenInicio{
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	margin-top: 0px;
	background-color:;
}

#STEM{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	text-align: justify;
	background-color: #095e83;
	color: #ffffff;

}

#TituloBilinguismo{
	font-size: 20px;
}

#cajaImagen{
	padding-top: 30px;
}

#Programacion{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	text-align: justify;
	/*background-color: #636364;*/
	/*color: #ffffff;*/

}

#Redes{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	text-align: justify;
	background-color: #149f7d;
	color: #ffffff;
}

#Tecnologias{
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	text-align: justify;
	background-color: #eff0f0;
	color: #818282;

}

#Reproductor{

	float: right;
	padding-top: 16px;
	padding-right: 10px;
}

#TextoAudio{
	float: right;
	padding-right: 25px;
	padding-top: 5px;
}

#VideoPresentacionBirdCode{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 390px;
}

#ContenidoPython{
	margin-top: 30px;
	margin-left: 350px;
	color: #4f5050;
	padding-right: 130px;
	text-align: justify;
}

#TitulosPrincipalesPaginaPython{

	margin-top: 30px;
	margin-left: 800px;

}

#ContenidosGenerales{
	background-color: #d6d9d9;
	margin-top: -10px;
	
}